@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.title {
  text-transform: capitalize;
  text-align: left;
  margin:30px 0 15px 0;
  font-weight: 100;
  font-size: 32px;

  span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    padding: 15px 0 0 0;
    color: #19a540;
  }
}

.free {
  //background: lighten($color: #19a540, $amount: 50);
  border-left: 10px solid lighten($color: #19a540, $amount: 50);
}